#block-counts {
  margin-left: 5px;
}

#buttons {
  margin-top: 25px;
  margin-left: 5px;
}

#blocks {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.red-fill {
  background-color: red;
}

.blue-fill {
  background-color: blue;
}

.green-fill {
  background-color: green;
}

.yellow-fill {
  background-color: yellow;
}

.x {
  position: absolute;
  /*animation: x 11s linear infinite alternate;*/
}

/* .y.red-fill{
  animation: y 5s linear infinite alternate;
}

.y.blue-fill {
  animation: y 7s linear infinite alternate;
}

.y.green-fill{
  animation: y 3s linear infinite alternate;
}

.y.yellow-fill{
  animation: y 13s linear infinite alternate;
} */

@keyframes x {
  100% {
    transform: translateX( calc(100vw - 100px ) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 250px ));
  }
}
